@namespace WiredBrainCoffee.UI.Admin
@page "/admin"

@inject NavigationManager NavManager

<PageTitle>
    Admin Center
</PageTitle>

<HeadContent>
    <link href="css/admin.css" rel="stylesheet" />
</HeadContent>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <AdminNav />
                <br />
                <br />
            </div>
            <div class="col-md-9">
                <OrderHistory />
            </div>
        </div>
    </div>
</div>
