@namespace WiredBrainCoffee.UI.Admin
@inject IOrderService OrderService
@inject HttpClient Http
 
<div>
    <h2>Order History</h2>
    <hr />
    <div class="order-history">
        <p>This area is under construction.</p>
    </div>
</div>

@code {
    
}